.video-slider {
  width: 100%;
  margin: auto;
  background-color: #161616;
  margin: 0 0 2em 0;
  box-shadow: 0 1em 0 1em rgba(22, 22, 22, 1.0);
}
.slide {
  text-align: center;
}
.slide video {
  max-width: 70%;
}
.slide p{
  max-width: 70%;
  max-height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin:auto;
  text-align: left;
  color:#d7d7d7;
}
.slide p:hover{
  overflow-y: scroll;
  -webkit-line-clamp: 999;
}
.tiling-video-wrapper{
  background-color: #313131;
  display: flex;
  flex-wrap: wrap;
}
.tiling-video-outer{
  width: 25%;
  display:block;
}
.tiling-video-container{
  display: grid;
}
.tiling-video-container:hover .tiling-prompt{
  background-color: rgba(0, 0, 0, 0.65);
}
.tiling-video-container:hover .tiling-prompt div{
  display: block;
}
.tiling-video{
  width: 100%;
  margin:0;
  padding:0;
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
  grid-column: 1;
  grid-row: 1;
}
.slide h2{
  color:#d7d7d7;
}
.slick-prev{
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border: 0;
  text-indent: -9999px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.9;
  transform: translateY(-50%);
  transition: all 0.25s ease;
  left: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjx0aXRsZT5jaGV2cm9uLWxlZnQ8L3RpdGxlPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xMC40MTMgMTJsNS4yOTQtNS4yOTRjMC4zODctMC4zODcgMC4zODctMS4wMjUgMC0xLjQxM3MtMS4wMjUtMC4zODctMS40MTMgMGwtNiA2Yy0wLjM4NyAwLjM4Ny0wLjM4NyAxLjAyNSAwIDEuNDEzbDYgNmMwLjE5NCAwLjE5NCAwLjQ1IDAuMjk0IDAuNzA2IDAuMjk0czAuNTEzLTAuMSAwLjcwNi0wLjI5NGMwLjM4Ny0wLjM4NyAwLjM4Ny0xLjAyNSAwLTEuNDEzbC01LjI5NC01LjI5NHoiPjwvcGF0aD48L3N2Zz4=);

  &:hover {
    left: -5px;
    background-color:black;
  }

}
.intermediate-title{

  background-color: #161616;
  color:#d7d7d7;
  font-size: 36px;
  text-align: center;
  margin:2em 0 2em 0;
  box-shadow: 0 0 0 2em rgba(22, 22, 22, 1.0);
}
.intermediate-title-l2{

  background-color: #161616;
  color:#d7d7d7;
  font-size: 20px;
  text-align: left;
  margin:0.5em 0 0.5em 0;
  box-shadow: 0 0 0 0.5em rgba(22, 22, 22, 1.0);
  a{
    color:#a94442;
  }
}
.tiling-prompt{
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  display:flex;
  align-items: center;
  background: transparent;
  margin:0;
  padding:0;
  color:#c3c3c3dd;
}
.tiling-prompt div{
  padding: 5% 10%;
  display: none;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  overflow-y: scroll;
}
.slick-next{
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border: 0;
  text-indent: -9999px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.9;
  transform: translateY(-50%);
  transition: all 0.25s ease;
  right: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjx0aXRsZT5jaGV2cm9uLXJpZ2h0PC90aXRsZT48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTUuNzA2IDExLjI5NGwtNi02Yy0wLjM4Ny0wLjM4Ny0xLjAyNS0wLjM4Ny0xLjQxMyAwcy0wLjM4NyAxLjAyNSAwIDEuNDEzbDUuMjk0IDUuMjk0LTUuMjk0IDUuMjk0Yy0wLjM4NyAwLjM4Ny0wLjM4NyAxLjAyNSAwIDEuNDEzIDAuMTk0IDAuMTk0IDAuNDUgMC4yOTQgMC43MDYgMC4yOTRzMC41MTMtMC4xIDAuNzA2LTAuMjk0bDYtNmMwLjM5NC0wLjM4NyAwLjM5NC0xLjAyNSAwLTEuNDEzeiI+PC9wYXRoPjwvc3ZnPg==);

  &:hover {
    right: -5px;
    background-color:black;
  }

}



.alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 200px;
  margin-left: -100px;
  z-index: 99999;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-inf {
  color: #d7d7d7;
  background-color: #676767aa ;
  border-color: #444444;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}